body {
  text-align: center;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  align-content: center;
  grid-gap: 1px;
  border: solid 1px gray;
  border-radius: 5px;
}

.header {
  background-color: gray;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
}

.row {
  text-align: center;
  background-color: white;
  font-size: 1rem;
  border-top: solid 0.5px whitesmoke;
  font-family: sans-serif;
  font-weight: 500;
}
.row:hover {
  background-color: #3036dc1f;
}
